@property --a {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.fancy-glow {
  overflow: hidden;
  position: relative;
  width: Min(12.5em, 80vmin);
  aspect-ratio: 1;
  border-radius: 0.2em;
  place-self: center;
  place-content: center;
  font: clamp(1em, 2vw + 2vh, 2em) sans-serif;
  text-align: center;
  text-wrap: balance;
}

.fancy-glow::before {
  position: absolute;
  z-index: -1;
  inset: -1em;
  border: solid 1.25em;
  border-image: conic-gradient(
      from var(--a),
      #99cc33,
      #ccee66,
      #006699,
      #990066,
      #ff6600,
      #ff9900,
      #ffcc00
    )
    1;
  filter: blur(0.75em);
  animation: a 10s linear infinite;
  content: "";
}

@keyframes a {
  to {
    --a: 1turn;
  }
}
