/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(30, 29, 29);
}

.background-color {
  background-color: rgb(30, 29, 29);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  max-width: 1700px;
  margin: auto;
}

main {
  overflow-y: auto;
}

/* Add this CSS to your global styles or Tailwind's custom CSS file */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

@keyframes waveFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    text-shadow: -1px 1px 10px yellow;
  }
  100% {
    opacity: 1;
  }
}

.waveFade {
  animation: waveFade 9s ease-in-out infinite;
}
