@import url("https://fonts.googleapis.com/css2?family=Oregano:ital@0;1");
@tailwind base;
@tailwind components;
@tailwind utilities;

.oregano-regular {
    font-family: "Oregano", serif;
    font-weight: 400;
    font-style: normal;
}

.oregano-regular-italic {
    font-family: "Oregano", serif;
    font-weight: 400;
    font-style: italic;
}

html {
    background-image: linear-gradient(
        to right bottom,
        rgb(33, 35, 42),
        rgb(40, 40, 40)
    );
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    max-width: 1500px;
    margin: auto;
}

main {
    overflow-y: auto;
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.no-scrollbar {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
}

#pixi-div {
    width: 100%;
    max-width: 490px;
    height: fit-content;
    margin: auto;
}

.bg-purple-custom {
    background-color: #18062e;
}
#pixi-div canvas {
    display: block;
    margin: auto;
    margin-top: 0.5rem;
}

.dusk-sky {
    background-image: linear-gradient(
        to right bottom,
        #0963af,
        #0860a9,
        #075ca4,
        #06599e,
        #055699
    );
}

.campfire {
    background-image: linear-gradient(
        to right bottom,
        #777777,
        #706d71,
        #6b6368,
        #67595d,
        #635050
    );
}
